<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.vanilla.driver.CPUFriendDataProvider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriendDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUgQ29tcHV0
			ZXIvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBs
			ZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlz
			dCB2ZXJzaW9uPSIxLjAiPgogIDxkaWN0PgogICAgPGtleT5JT1Bs
			YXRmb3JtVGhlcm1hbFByb2ZpbGU8L2tleT4KICAgIDxkaWN0Pgog
			ICAgICA8a2V5PkNvbmZpZ0FycmF5PC9rZXk+CiAgICAgIDxhcnJh
			eT4KICAgICAgICA8ZGljdD4KICAgICAgICAgIDxrZXk+bW9kZWw8
			L2tleT4KICAgICAgICAgIDxzdHJpbmc+TWFjUHJvNSwxPC9zdHJp
			bmc+CiAgICAgICAgICA8a2V5Pk1QNTFQU1M8L2tleT4KICAgICAg
			ICAgIDx0cnVlLz4KICAgICAgICA8L2RpY3Q+CiAgICAgIDwvYXJy
			YXk+CiAgICAgIDxrZXk+Q1N0YXRlRGVtb3Rpb25EaWN0PC9rZXk+
			CiAgICAgIDxkaWN0PgogICAgICAgIDxrZXk+TWFjUHJvNSwxPC9r
			ZXk+CiAgICAgICAgPHN0cmluZz5DU0REX3N0ZDE8L3N0cmluZz4K
			ICAgICAgPC9kaWN0PgogICAgICA8a2V5PkNvbnRyb2xBcnJheTwv
			a2V5PgogICAgICA8YXJyYXk+CiAgICAgICAgPGRpY3Q+CiAgICAg
			ICAgICA8a2V5PkRlc2MtS2V5PC9rZXk+CiAgICAgICAgICA8c3Ry
			aW5nPkNQVV9QTElNSVQ8L3N0cmluZz4KICAgICAgICAgIDxrZXk+
			SU9DbGFzczwva2V5PgogICAgICAgICAgPHN0cmluZz5BcHBsZVNN
			Q0NvbnRyb2w8L3N0cmluZz4KICAgICAgICAgIDxrZXk+Y29udHJv
			bC1mbGFnczwva2V5PgogICAgICAgICAgPGludGVnZXI+MjwvaW50
			ZWdlcj4KICAgICAgICAgIDxrZXk+Y29udHJvbC1pZDwva2V5Pgog
			ICAgICAgICAgPGludGVnZXI+MTA8L2ludGVnZXI+CiAgICAgICAg
			ICA8a2V5PmxvY2F0aW9uPC9rZXk+CiAgICAgICAgICA8c3RyaW5n
			PmNwdSBwbGltaXQ8L3N0cmluZz4KICAgICAgICAgIDxrZXk+dHlw
			ZTwva2V5PgogICAgICAgICAgPHN0cmluZz5zbWM8L3N0cmluZz4K
			ICAgICAgICA8L2RpY3Q+CiAgICAgICAgPGRpY3Q+CiAgICAgICAg
			ICA8a2V5PkRlc2MtS2V5PC9rZXk+CiAgICAgICAgICA8c3RyaW5n
			PkNQVV9TVEFURTwvc3RyaW5nPgogICAgICAgICAgPGtleT5JT0Ns
			YXNzPC9rZXk+CiAgICAgICAgICA8c3RyaW5nPkFwcGxlU01DQ29u
			dHJvbDwvc3RyaW5nPgogICAgICAgICAgPGtleT5jb250cm9sLWZs
			YWdzPC9rZXk+CiAgICAgICAgICA8aW50ZWdlcj4yPC9pbnRlZ2Vy
			PgogICAgICAgICAgPGtleT5jb250cm9sLWlkPC9rZXk+CiAgICAg
			ICAgICA8aW50ZWdlcj4xMzwvaW50ZWdlcj4KICAgICAgICAgIDxr
			ZXk+bG9jYXRpb248L2tleT4KICAgICAgICAgIDxzdHJpbmc+Y3B1
			IHN0YXRlPC9zdHJpbmc+CiAgICAgICAgICA8a2V5PnR5cGU8L2tl
			eT4KICAgICAgICAgIDxzdHJpbmc+c21jPC9zdHJpbmc+CiAgICAg
			ICAgPC9kaWN0PgogICAgICAgIDxkaWN0PgogICAgICAgICAgPGtl
			eT5EZXNjLUtleTwva2V5PgogICAgICAgICAgPHN0cmluZz5HUFVf
			UkFOR0VfQ09OVFJPTF9QQ0k8L3N0cmluZz4KICAgICAgICAgIDxr
			ZXk+SU9DbGFzczwva2V5PgogICAgICAgICAgPHN0cmluZz5JT1Bs
			YXRmb3JtQ29udHJvbDwvc3RyaW5nPgogICAgICAgICAgPGtleT5j
			b250cm9sLWZsYWdzPC9rZXk+CiAgICAgICAgICA8aW50ZWdlcj4y
			PC9pbnRlZ2VyPgogICAgICAgICAgPGtleT5jb250cm9sLWlkPC9r
			ZXk+CiAgICAgICAgICA8aW50ZWdlcj4xODwvaW50ZWdlcj4KICAg
			ICAgICAgIDxrZXk+bG9jYXRpb248L2tleT4KICAgICAgICAgIDxz
			dHJpbmc+Z3B1LXBjaTwvc3RyaW5nPgogICAgICAgICAgPGtleT50
			eXBlPC9rZXk+CiAgICAgICAgICA8c3RyaW5nPmdwdS1jb250cm9s
			PC9zdHJpbmc+CiAgICAgICAgPC9kaWN0PgogICAgICA8L2FycmF5
			PgogICAgICA8a2V5PkNyZWF0aW9uRGF0ZTwva2V5PgogICAgICA8
			c3RyaW5nPkZyaSBKYW4gMjIgMTA6MDI6MzQgUFNUIDIwMTA8L3N0
			cmluZz4KICAgICAgPGtleT5DdHJsTG9vcEFycmF5PC9rZXk+CiAg
			ICAgIDxhcnJheT4KICAgICAgICA8ZGljdD4KICAgICAgICAgIDxr
			ZXk+RGVzY3JpcHRpb248L2tleT4KICAgICAgICAgIDxzdHJpbmc+
			U01DX0NQVV9Db250cm9sX0xvb3A8L3N0cmluZz4KICAgICAgICAg
			IDxrZXk+SU9DbGFzczwva2V5PgogICAgICAgICAgPHN0cmluZz5B
			Q1BJX1NNQ19DdHJsTG9vcDwvc3RyaW5nPgogICAgICAgICAgPGtl
			eT5QTGltaXRDbGFzczwva2V5PgogICAgICAgICAgPGFycmF5Pgog
			ICAgICAgICAgICA8c3RyaW5nPkNQVTwvc3RyaW5nPgogICAgICAg
			ICAgPC9hcnJheT4KICAgICAgICAgIDxrZXk+TWV0YVN0YXRlQXJy
			YXk8L2tleT4KICAgICAgICAgIDxhcnJheT4KICAgICAgICAgICAg
			PGRpY3Q+CiAgICAgICAgICAgICAgPGtleT5EZXNjcmlwdGlvbjwv
			a2V5PgogICAgICAgICAgICAgIDxzdHJpbmc+Tm9ybWFsPC9zdHJp
			bmc+CiAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgPGRp
			Y3Q+CiAgICAgICAgICAgICAgPGtleT5EZXNjcmlwdGlvbjwva2V5
			PgogICAgICAgICAgICAgIDxzdHJpbmc+UmVkdWNlZCBQb3dlcjwv
			c3RyaW5nPgogICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAg
			IDxkaWN0PgogICAgICAgICAgICAgIDxrZXk+RGVzY3JpcHRpb248
			L2tleT4KICAgICAgICAgICAgICA8c3RyaW5nPlVzZXIgTG93IFBv
			d2VyPC9zdHJpbmc+CiAgICAgICAgICAgIDwvZGljdD4KICAgICAg
			ICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgPGtleT5EZXNjcmlw
			dGlvbjwva2V5PgogICAgICAgICAgICAgIDxzdHJpbmc+VXNlciBI
			aWdoIFBvd2VyPC9zdHJpbmc+CiAgICAgICAgICAgIDwvZGljdD4K
			ICAgICAgICAgIDwvYXJyYXk+CiAgICAgICAgICA8a2V5PlBMaW1p
			dERpY3Q8L2tleT4KICAgICAgICAgIDxkaWN0PgogICAgICAgICAg
			ICA8a2V5Pk1hY1BybzUsMTwva2V5PgogICAgICAgICAgICA8aW50
			ZWdlcj4wPC9pbnRlZ2VyPgogICAgICAgICAgPC9kaWN0PgogICAg
			ICAgICAgPGtleT5TdGVwRGF0YURpY3Q8L2tleT4KICAgICAgICAg
			IDxkaWN0PgogICAgICAgICAgICA8a2V5Pk1hY1BybzUsMTwva2V5
			PgogICAgICAgICAgICA8c3RyaW5nPlNQMTI8L3N0cmluZz4KICAg
			ICAgICAgICAgPGtleT5TUDEyPC9rZXk+CiAgICAgICAgICAgIDxk
			YXRhPgpXQVFBQUFBQUFRSUVBQUFDQWdBQVZRQnVBSE1BY0FCbEFH
			TUFhUUJtQUdrQVpRQmtEQUFIL3djQUFBMEFBQUFDQUFBQi8vOEEv
			d0QvCkFQOEEvd0QvQUFZQUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dB
			TER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93
			QUwKRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFE
			L3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFB
			RAovd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9B
			UUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQv
			CkFRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFB
			RC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1AK
			QUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFz
			UEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQLwpB
			QXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAv
			QUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCCkFB
			UC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJB
			QVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEEKQVA4
			QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQ
			OEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QQpDdzhB
			QVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4
			QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBCkEvOEFD
			dzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhB
			Q3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEKL3dFQUEv
			OEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFB
			LzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTApEd0FBL3dF
			QUEvOEFDdzhBQVA4QkFBUC9BQXNLQUFBQkNnQUFBUUFBQUFFQUFB
			RDFBQUVGQUFBQkFBQUYvd0FCQUFBQUFRQUFBQUVHCkFBQUNBQUFB
			QkFFQUFJQUF3d0MzQUM0QU5BQUxBQUFBQWdBQUFBRUFBQUFCQUFB
			QUFnQUFBQUlDQUFBQ0JnQUFBUUFBQUFFQUFBRDEKQUFFRkFBQURB
			QUFGL3dBREFnQUFBd1lBQUFrQUFBQUVBQUFBTWdZQUFBUUFBQVgv
			QUFNQUFBQUJBQUFBQkFRQUFJQUFBQUFLQ2dBQQpDQUFBQUFVQUFB
			QUlBQUFBQlFBQUFBTUFBQUFDQUFBQUJRWUFBQWNBQUFBQkFBQUE5
			UUFCQlFBQUJnQUFCZjhBQXdBQUFBTUFBQUFHCkJnQUFBZ0FBQUFR
			QUFBQmtCZ0FBQndRQUFBY0FBQUFEQUFBQUJBQUFBQWNHQUFBSUNn
			QUFBd0FBQmY4QUJBSUFBQWdHQUFBQkFBQUEKQVFBQUFQUUFBUVVB
			QUFrQUFBWC9BQVVDQUFBSkJnQUFBZ0FBQUFRQkFBQ0FBTU1BdHdB
			dUFEUUFDd0FBQUFrQUFBQUtBQUFBQ1FBQQpBQW9BQUFBRkFBQUFB
			UUFBQUFvR0FBQUhBQUFBQVFBQUFQVUFBUVVBQUFzQUFBWC9BQVVB
			QUFBQ0FBQUFDd1lBQUFJQUFBQUVBQUFBClpBWUFBQXdFQUFBTUFB
			QUFCUUFBQUFNQUFBQU1CZ0FBQ0FvQUFBa0FBQVgvCjwvZGF0YT4K
			ICAgICAgICAgIDwvZGljdD4KICAgICAgICAgIDxrZXk+Y3RybGxv
			b3AtaWQ8L2tleT4KICAgICAgICAgIDxpbnRlZ2VyPjA8L2ludGVn
			ZXI+CiAgICAgICAgICA8a2V5PmlzLXN0YXRlLWRyaXZlbjwva2V5
			PgogICAgICAgICAgPGludGVnZXI+MTwvaW50ZWdlcj4KICAgICAg
			ICA8L2RpY3Q+CiAgICAgICAgPGRpY3Q+CiAgICAgICAgICA8a2V5
			PkNvbnRyb2xJREFycmF5PC9rZXk+CiAgICAgICAgICA8YXJyYXk+
			CiAgICAgICAgICAgIDxpbnRlZ2VyPjE2PC9pbnRlZ2VyPgogICAg
			ICAgICAgICA8aW50ZWdlcj4xNzwvaW50ZWdlcj4KICAgICAgICAg
			ICAgPGludGVnZXI+MTg8L2ludGVnZXI+CiAgICAgICAgICA8L2Fy
			cmF5PgogICAgICAgICAgPGtleT5EZXNjcmlwdGlvbjwva2V5Pgog
			ICAgICAgICAgPHN0cmluZz5TTUNfR1BVX1JhbmdlX0NvbnRyb2xf
			TG9vcDwvc3RyaW5nPgogICAgICAgICAgPGtleT5HUFVDb250cm9s
			SW5mb0RpY3Q8L2tleT4KICAgICAgICAgIDxkaWN0PgogICAgICAg
			ICAgICA8a2V5Pk1hY1BybzUsMTwva2V5PgogICAgICAgICAgICA8
			c3RyaW5nPkNJQTc8L3N0cmluZz4KICAgICAgICAgICAgPGtleT5D
			SUE3PC9rZXk+CiAgICAgICAgICAgIDxhcnJheT4KICAgICAgICAg
			ICAgICA8aW50ZWdlcj4zPC9pbnRlZ2VyPgogICAgICAgICAgICAg
			IDxpbnRlZ2VyPjE4PC9pbnRlZ2VyPgogICAgICAgICAgICAgIDxp
			bnRlZ2VyPjA8L2ludGVnZXI+CiAgICAgICAgICAgIDwvYXJyYXk+
			CiAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICA8a2V5PklPQ2xh
			c3M8L2tleT4KICAgICAgICAgIDxzdHJpbmc+QUNQSV9TTUNfR1BV
			X0N0cmxMb29wPC9zdHJpbmc+CiAgICAgICAgICA8a2V5PlBMaW1p
			dENsYXNzPC9rZXk+CiAgICAgICAgICA8YXJyYXk+CiAgICAgICAg
			ICAgIDxzdHJpbmc+R1BVPC9zdHJpbmc+CiAgICAgICAgICA8L2Fy
			cmF5PgogICAgICAgICAgPGtleT5NZXRhU3RhdGVBcnJheTwva2V5
			PgogICAgICAgICAgPGFycmF5PgogICAgICAgICAgICA8ZGljdD4K
			ICAgICAgICAgICAgICA8a2V5PkRlc2NyaXB0aW9uPC9rZXk+CiAg
			ICAgICAgICAgICAgPHN0cmluZz5Ob3JtYWw8L3N0cmluZz4KICAg
			ICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICA8ZGljdD4KICAg
			ICAgICAgICAgICA8a2V5PkRlc2NyaXB0aW9uPC9rZXk+CiAgICAg
			ICAgICAgICAgPHN0cmluZz5SZWR1Y2VkIFBvd2VyPC9zdHJpbmc+
			CiAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgPGRpY3Q+
			CiAgICAgICAgICAgICAgPGtleT5EZXNjcmlwdGlvbjwva2V5Pgog
			ICAgICAgICAgICAgIDxzdHJpbmc+VXNlciBMb3cgUG93ZXI8L3N0
			cmluZz4KICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICA8
			ZGljdD4KICAgICAgICAgICAgICA8a2V5PkRlc2NyaXB0aW9uPC9r
			ZXk+CiAgICAgICAgICAgICAgPHN0cmluZz5Vc2VyIEhpZ2ggUG93
			ZXI8L3N0cmluZz4KICAgICAgICAgICAgPC9kaWN0PgogICAgICAg
			ICAgPC9hcnJheT4KICAgICAgICAgIDxrZXk+Y3RybGxvb3AtaWQ8
			L2tleT4KICAgICAgICAgIDxpbnRlZ2VyPjM8L2ludGVnZXI+CiAg
			ICAgICAgPC9kaWN0PgogICAgICA8L2FycmF5PgogICAgPC9kaWN0
			PgogIDwvZGljdD4KPC9wbGlzdD4K
			</data>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 - 2019 PMheart. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
